# Arquivos do PyCharm
.idea/

# Dependências e ambientes virtuais
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs e arquivos temporários
*.log
*.tmp
allure-results/
allure-report/
allure.tgz

# Arquivos de configuração local
.env
.DS_Store
